.task-item {
  background-color: #1a171d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  align-items: center;
}
.task {
  color: #ffffff;
  font-size: 18px;
  margin: 5px;
}
.tag {
  background-color: #f3aa4e;
  border-radius: 40px;
  padding: 4px 10px;
}
